.body
  %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", :rel => "stylesheet"}/
  - model_class = Idea

  -#.page-header
    -#%h1=t '.title', :default => model_class.model_name.human.titleize
  %table.table{:id => "comment_table"}
    %tr
      %td.vote{style: "width:10%" }
        = link_to "", like_idea_path(@idea), method: :put, :class => 'glyphicon glyphicon-chevron-up btn-default'
        %br
        = @idea.upvotes.size-@idea.downvotes.size
        %br
        = link_to "", dislike_idea_path(@idea), method: :put, :class => 'glyphicon glyphicon-chevron-down btn-default'
      %td.details
        %p
          %h3
            = @idea.name
        %p
          -# TODO: textarea formatting now includes returns
          = simple_format (auto_link (@idea.desc))

        %strong Related Keywords:
        %br
        - @keywords.each_with_index do |k, i|
          - if i==@keywords.size-1
            = link_to k.name, ideas_path(:kw => k)
          - else
            = link_to k.name+',', ideas_path(:kw => k)


  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), ideas_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_idea_path(@idea), :class => 'btn'
    -#= link_to t('.destroy', :default => t("helpers.links.destroy")), idea_path(@idea), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'


