= form_for @user do |f|
  - @user.errors.full_messages.each do |msg|
    %p
      %font{color: "red"}
        = msg
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :password_confirmation
    = f.text_field :password_confirmation
  .actions
    = f.submit 'Save'
