!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Appideas"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    -# Glypicons link
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", :rel => "stylesheet"}/

  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          -#%a.brand(href="#") Appideas
          -# TODO Fix this quick fix when a better way presents itself 
          = link_to "Appideas", root_url, class: "brand"
          .container.nav-collapse
            %ul.nav
              %li= link_to "Ideas", ideas_path
              %li= link_to "New Idea", new_idea_path


    .container-fluid

      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Keywords
              - @words.each do |keyword|                                     
                %span
                  %li
                    = link_to keyword.name, ideas_path(:kw => keyword)
                    - if request.path.include? "ideas" and request.path =~ /\d/
                      = link_to t('.update', :default => ""), idea_path(id: request.path.match(/\d+/i), remove_id: keyword.id), :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'glyphicon glyphicon-remove btn-danger'
              %p
              - if request.path.match(/ideas\/\d+/i)
                .btn-group
                  %button.btn.btn-default.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                    Add Keyword
                    %span.caret
                  %ul.dropdown-menu{role: "manu"}
                    - @all.each do |keyword|
                      %li
                        - if @words.include? keyword
                          = link_to raw('<i class="icon-ok icon-green"></i>') + keyword.name, ""
                        - else
                          = link_to keyword.name, idea_path(id: request.path.match(/\d+/i), keyword_id: keyword.id)
        .span6
          = bootstrap_flash
          = yield
        .span3
          .well.sidebar-nav
    
      %footer
        %p &copy; tktl-appideas
